/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos generales*/

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style:normal
}
body{
    background-color:black
}
#spotify-widget{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  justify-content: center; 
  padding: 1rem; /
}

#spotify-widget iframe{
  border-radius: 12px;
  flex: 1 1 45%; 
  max-width: 100%;
  height: 352px;
  }

/* estilos vesion mobile*/


 /*estilos de header*/

header{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style:normal
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    color: whitesmoke;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding-right: 20px;
}

  /*estilos de main*/

  #spotify-widget{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center; 
    padding: 1rem; /
  }
    
     
  main{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    margin: 30px 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style:normal
    
}
main{

    margin: 10px 10px;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,70%);
   row-gap: 1rem;

}


main div img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


main .contenedor{
    
  
    text-align: center;
    background-color: whitesmoke;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-content: center;
}


    /*estilos de footer*/
    footer{
        text-align: center;
        color: whitesmoke;
      padding: 10px;
      position: static;
    }



 main .img-cuatro, main .img-cinco, main .img-seis{
   display: none;
}
 

/*estilos de main tablet*/ 

@media screen and (min-width: 600px){
 /*estilos de main*/
 
 #spotify-widget iframe {
  justify-content: center;
  display: flex;
   width: 100%;
   
   }

  main{
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(2, 50%);
    column-gap: 1.5rem;
  }
 
  main .img-cero{
    grid-column: span 2;
    grid-row: span 3;
  }
  
  main .img-tres{
    grid-column: span 2;
    grid-row: span 1;
  }
    
    }


    /*estilos de desktop*/
    @media screen and (min-width:1024px){
      main .img-cuatro, main .img-cinco, main .img-seis{
        display: block;
        }
      
        }
        #spotify-widget iframe {
        
       justify-content: center;
        display: flex;
         width: 100%;
         
         }

        main {
  
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 50% 15% 15% 50%;
        }

        
        main .img-cero{ 
          grid-column: span 4;
          grid-row: span 4;
          }
        
         main .img-uno, main .img-dos, main .img-3{
          grid-row: span 1;
         }
         main .img-cuatro, main .img-seis{
         grid-row: span 2.5;
         grid-column: span 2;
          }
          main .img-cinco{
            grid-column: span 2;
           grid-row: span 2;
        }
     
         
      
      
        






      